html {
  font-size: 1rem; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}


#root {
  height: 100%;
}

/* Layout */

header {
  padding: 10px 0;
  background-color: #203040;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
.form-container{
  padding: 20px;
}
.payment-form{
  margin-top: 90px;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #ff8000;
}
/* Header */
header a {
  color: #ffffff;
  padding: 3rem 1.5rem;
}
a.brand {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}

/*form*/

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.form-container{
  display: flex;
  flex-direction: column;
  width:32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

input{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/*button*/
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button.secondary {
  background-color: #f0f0f0;
}
.text-center{
  text-align: center;
}

.cart {
  
  position: relative;
  cursor: pointer;
  color: white;
}
.cart-icon .shopping-icon {
  width: 24px;
  height: 24px;
}
.cart .item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 0;
  color: #ffffff;
}

.card-image{
  height: 300px;
  
}
.post-dashboard{
  width: 320px;

}

.search-name{
  font-size: 1.0rem;
}


.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
}
.checkout-page .checkout-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}
.checkout-page .checkout-header .header-block {
  text-transform: capitalize;
  width: 23%;
}
.checkout-page .checkout-header .header-block:last-child {
  width: 8%;
}
.checkout-page .total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}

.checkout-page .slot{
  margin-right: auto;
  font-size: 26px;
  display: flex;
  justify-content: space-around;
  
}
.checkout-page button {
  margin-left: auto;
  margin-top: 50px;
}
.checkout-page .test-warning {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: red;
}
.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
}
.checkout-item .image-container {
  width: 23%;
  padding-right: 15px;
}
.checkout-item .image-container img {
  width: 160px;
  height: 160px;
}
.checkout-item .name, .checkout-item .quantity, .checkout-item .price {
  width: 23%;
}
.checkout-item .quantity {
  display: flex;
}
.checkout-item .quantity .arrow {
  cursor: pointer;
}
.checkout-item .quantity .value {
  margin: 0 10px;
}
.checkout-item .remove-button {
  padding-left: 12px;
  cursor: pointer;
}
.cartImage{
  height: 260px;
}
